.footer {
    background-color: var(--black);
    margin-top: 15rem;
 }
 
 .footer .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
 }
 
 .footer .grid .box h3, .footer .grid .box1 h3, .footer .grid .box2 h3, .footer .grid .box3 h3 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 2rem;
    text-transform: capitalize;
 }

 .footer .grid .box1 h3, .footer .grid .box2 h3 {
    margin-left: 5rem;
 }

 .footer .grid .box .about, .footer .grid .box3 .news{
    display: block;
    margin: 1.5rem 0;
    font-size: 1.5rem;
    color: var(--whitesmoke);
 }
 
  .footer .grid .box1 a, .footer .grid .box2 a {
    display: block;
    margin: 1.5rem 0;
    margin-left: 5rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--whitesmoke);
 }
 
 .footer .grid .box1 a i, .footer .grid .box2 a i {
    padding-right: 1rem;
    color: var(--main-color);
    transition: .2s linear;
 }
 
 .footer .grid .box a:hover, .footer .grid .box1 a:hover, .footer .grid .box2 a:hover {
    color: var(--main-color);
 }
 
 .footer .grid .box a:hover i, .footer .grid .box1 a:hover i, .footer .grid .box2 a:hover i {
    padding-right: 2rem;
 }
 
 .footer .grid .box .credit {
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    color: var(--white);
 }
 
 .footer .grid .box .credit span {
    color: var(--white);
 }

 .footer .grid .box3 .input-field {
   display: flex;
   position: relative;
   width: 100%;
 }
 
 .footer .grid .box3 .input-field .email {
   background-color: var(--whitesmoke);
   font-size: 1.6rem;
   border-radius: 5px;
   padding: 1.2rem;
   width: 100%;
 }
 
 .footer .grid .box3 .input-field .btn {
   font-size: 1.6rem;
   padding: 1.2rem;
   border-radius: 0 5px 5px 0;
   position: absolute;
   right: 0;
   background-color: var(--main-color);
   color: var(--white);
   cursor: pointer;
 }

 .footer .credit-end {
   display: none;
   align-items: center;
   justify-content: center;
   padding: 2rem 0;
   width: 100%;
   font-size: 1.2rem;
   color: var(--white);
}

.footer .credit-end span {
   color: var(--white);
}



 @media (max-width: 1204px) {
   
   .footer .grid .box2 h3 {
      margin-left: 0;
   }

   .footer .grid .box a, .footer .grid .box2 a {
      margin: 1.5rem 0;
   }

   .footer .grid .box .credit {
      display: none;
   }

   .footer .credit-end {
      display: flex;
   }
 
}

@media (max-width: 919px)  {

   .footer .grid .box3 h3 {
      margin-left: 5rem;
   }

   .footer .grid .box3 .news {
      margin-left: 5rem;
   }

   .footer .grid .box3 .input-field .email {
      margin-left: 5rem;
      font-size: 1.4rem;
   }

   .footer .grid .box3 .input-field .btn {
      font-size: 1.4rem;
   }
   
}

@media (max-width: 635px) {

   .footer .grid .box1 h3, .footer .grid .box2 h3 {
      margin-left: 0;
   }

   .footer .grid .box1 a, .footer .grid .box2 a {
      margin-left: 0;
   }

   .footer .grid .box3 h3 {
      margin-left: 0;
   }

   .footer .grid .box3 .news {
      margin-left: 0;
   }

   .footer .grid .box3 .input-field .email {
      margin-left: 0;
   }

}

@media (max-width: 353px) {

   .footer .grid {
      grid-template-columns: auto;
   }

   .footer .credit-end {
      font-size: 0.9rem;
   }
}