<footer class="footer">

    <section class="grid">
 
       <div class="box">
          <h3>Ticket Book</h3>
          <span class="about">Ticket Book is a cinema booking site done by group 44 in order to survive PUSL3120 full stack development module.</span>
          <div class="credit">copyright &copy; 2024&nbsp;<span>Ticket Book</span>. All rights reserved.</div>
        </div>
 
       <div class="box1">
          <h3>quick links</h3>
          <a href="index.html"> <i class="fas fa-angle-right"></i> home</a>
          <a href="#"> <i class="fas fa-angle-right"></i> movies</a>
          <a href="#"> <i class="fas fa-angle-right"></i> terms</a>
          <a href="#"> <i class="fas fa-angle-right"></i> about</a>
          <a href="#"> <i class="fas fa-angle-right"></i> contact us</a>
       </div>
 
       <div class="box2">
          <h3>social media</h3>
          <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>
          <a href="#"><i class="fab fa-twitter"></i>twitter</a>
          <a href="#"><i class="fab fa-instagram"></i>instagram</a>
          <a href="#"><i class="fab fa-linkedin"></i>linkedin</a>
       </div>
 
       <div class="box3">
          <h3>newsletter</h3>
          <span class="news">Sign up for our newsletter and get the latest updates on your favourite movies.</span>
          <div class="input-field">
            <input class="email" type="email" name="email" id="email" placeholder="Your email address">
            <input class="btn" type="submit" value="SIGN UP">
          </div>
       </div>

    </section>

    <div class="credit-end">copyright &copy; 2024&nbsp;<span>Ticket Book</span>. All rights reserved.</div>
 
 </footer>