<div class="navbar">
  <div class="head">
    <div class="menu-btn"><i class="fa-solid fa-bars"></i></div>
    <div class="logo-name">Ticket Book</div>
  </div>
  <div class="admin-info">
    <div class="admin-img">
      <img src="../img/user-icon.png" />
    </div>
    <span class="admin-name">Admin's Name</span>
  </div>
  <div class="nav-menu">
    <a href="dashboard.html">dashboard</a>
    <a href="dashboard.html">add movies</a>
    <a href="dashboard.html">order history</a>
    <a href="dashboard.html">feedback</a>
  </div>
  <div class="logout"><a href="" class="logout-btn">logout</a></div>
</div>
